.primary-bg {
  background-color: #f9fdfd;
}

.secondary-bg {
  background-color: #888888;
}

.black-bg {
  background-color: black;
}
.orange-bg {
  background-color: #e5a531;
}
.red-bg {
  background-color: red;
}
.white-bg {
  background-color: white;
}

.blue-bg {
  background-color: #527bc2;
}

.primary-text {
  color: #efefef;
}

.secondary-text {
  color: #888888;
}

.black-text {
  color: black;
}
.orange-text {
  color: #e5a531;
}
.white-text {
  color: white;
}

.blue-text {
  color: #527bc2;
}

.primary-border {
  border: 0.5px solid #efefef;
}

.secondary-border {
  border: 0.5px solid #888888;
}

.black-border {
  border: 0.5px solid black;
}

.white-border {
  border: 0.5px solid white;
}

.blue-border {
  border: 0.5px solid #0095f6;
}
