.navbar {
  margin: 5px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo {
  width: 60px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
}
.btn-nav {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  border: none;
  background-size: 300% 100%;
  border-radius: 20px 20px 0px 0px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-nav:hover {
  background-position: 100% 0;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-nav.color-1 {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff,
    #eabb5d,
    #f1d96e
  );
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 76, 255);
  margin: 5px 15px;
}

@media screen and (max-width: 767px) {
  .navbar-container {
    padding: 0 20px;
  }

  .navbar-toggle {
    display: flex;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-in;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .nav-link {
    margin: 10px 0;
  }
}
