.base-button {
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  width: 90px;
  margin: 5px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.base-button:hover {
  background-color: #e5a531;
}
