.base-button {
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  width: 180px;
  margin: 10px;
  border-radius: 10px 10px 0 0;
  border: 2px solid #5579c3;
  font-weight: bold;
}
button:hover {
  border: 2px solid #e5a531;
}
